*{
  margin:0;
  padding:0
}

.container{
  background: #000;
  height:100vh;
  overflow:hidden;
  display: flex;

}

img{
  width: 30%;
}

.wrapper{
  background-color: #fff;
  width: 600px;
  height: 400px;
  display: flex;
  margin: auto;
  
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 40px;
  margin:40px 0;
  font-weight: 600;
  color: #445A6F;
}

button{
  padding: 10px 20px;
  font-size: 20px;
  background-color: #445A6F;
  color: #fff;
  border: 1px solid #445A6F;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  margin: 30px;
}